<div>
  <div class="about-img" ></div>
  <span class="about-text">
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひ、ご注文ください。
  </p>
</div>
  <div class="pt-5 mx-auto">
    <table class="about-table-text">
      <h5>information</h5>
      <tr>
        <th>〒</th>
        <td>111-1111</td>
      </tr>
      <tr>
        <th>adress</th>
        <td>長野県松本市111</td>
      </tr>
      <tr>
        <th>Open</th>
        <td>10:00～19:00</td>
      </tr>
      <tr>
        <th>Close</th>
        <td>Monday,Tuesday</td>
      </tr>
      <tr>
        <th>mail</th>
        <td>111@gmail.com</td>
      </tr>
      <tr>
        <th>tel</th>
        <td>111-1111-1111</td>
      </tr>
    </table>
  </div>
  