  <div class='container'>
    <h2 class='mb-5'>配送先編集</h2>
    <%= form_with model: @address, local:true do |f| %>
      <%= render 'addresses/form', f: f %>
      <%= f.submit '変更内容を保存', class:'btn btn-success' %>
    <% end %>
  </div>