<table class="table table-borderless border border-dark">
  <thead class="border border-dark">
    <tr>
      <th class="text-center">ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <td>
          <%= link_to items_path(select_genre: genre.id), class:'text-dark font-weight-bold border-bottom border-danger' do %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>