<footer class="bg-dark text-white pt-4 pb-4" style="height: 180px;">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-2 offset-1">
        <div class="footer_round mt-3">
          <img class="footer_logo" src=<%= asset_path('1.png') %> width="110" height="70">
        </div>
      </div>
      <div class="col-4">
        <h6 class="footer_text text-white mt-2 mb-3">Information</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <p class="text-white-50">Open: 10:00 ~ 19:00</p>
          </li>
          <li>
            <p class="text-white-50">Close: Monday,Tuesday</p>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h6 class="footer_text text-white mt-2 mb-2 ">Address</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <p class="text-white-50 mb-2">〒380-8570</p>
          </li>
          <li>
            <p class="text-white-50 mb-2">長野県長野市大字南長野字幅下692-2</p>
          </li>
          <li>
            <p class="text-white-50 mb-2">Tel:026-232-0111</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>